

// //font path
$font-url--google: "https://fonts.googleaips.com/css?family=Roboto100,300,400,500,700,900";

// //font family stack for main styles
$font-family--primary: "Roboto", Helvetica, Arial, sans-serif;
$font-family--secondary: "Helvetica", Helvetica, Arial, sans-serif;


// //descriptive color-secondary
$white: #fff;
$black: #000;
$grey: #878787;
$grey-palette: (
                  light: lighten( grey, 15%),
                  base: grey,
                  dark: darken(grey, 20%)
                  );

// //hover button colors
$lightgreen:  #22af41;



// //functional color variables for main style
  $color-primary: #8685ad;
  $color-secondary: #a09ed1;
  $color-accent: limegreen;
  $color-error: red;

// //button border radius
// $br-default: 5px;
$br-round: 50%;

//borers//
$border: 1px solid grey;

