// Demo alert notification.
// In the dashboard.png, this appears as the purple bar near the top of the page with the word "Alert" in it. When the page loads this alert should be visible, but the user should be able to close the alert by clicking the X button.
// Include a notification icon in the navigation header. Use the icon-bell.svg file. In the mockup this is the bell in the top right corner of the page.


// Display at least two notifications when the user clicks the alerts icon
// This could be a pop-up window or dropdown menu.
.alert {
  display: grid;
  grid-area: alert;
 grid-template-columns: 100px max-content 1fr;
  padding: 20px;
  background-color:#8685ad;
  color: white;

}
.alert span{
  color: white;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
.alert p {
  padding-top: 15px;
  color: white;
  font-size: 22px;
}

span.closeX:hover {
  cursor: pointer;
  color: rgb(73, 71, 71);
}

span.closeX {
  color: white;
  justify-self: right;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s
}

