.dash {
  grid-area: dash;
  background-color:#8685ad;
  border: 2px solid darkgray;
}

.info {
  display: flex;
  justify-content: flex-end;
  height:100px;
  width: 100%;
  border-radius:4px;
}

.alert {
  height: 100px;
  width: 100%;
}