.dash {
  grid-area: dash;
  border: $border;
}

.dash-bar h4 {
    display: grid;
    grid-column: 1;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $grey;
  }

.dash-bar {
  margin: 20px;
  grid-template-columns: 150px 1fr;
  display: grid;
}

.dash-bar input {
  margin: 10px;
  height: 50px;
  width: 60%;
  border: $border;
}

.dash-bar input:hover{
  @extend %pointer;
}

img #mag-glass {
  margin: auto;
  height: 35px;
  width: 35px;
  border: $border;
}

form.search-bar {
  height: 70px;
  margin: 10px;
  text-align: end;
  border: 1px solid lightgrey;
  background-color: rgb(244, 241, 248);
  border-radius: 2px;
}