// h1{
//   color: $picton-blue;
// }


// Header with app name, notification icon badge and profile avatar and name.
.main{
  display: grid;
  height:100px;
  margin: 1em;
  background-color: rgb(184, 141, 224);
  border: 2px solid darkgray;
}