// h1{
//   color: $picton-blue;
// }


// Header with app name, notification icon badge and profile avatar and name.
.main{
  grid-area: main;
  background-color: rgb(184, 141, 224);
  border: 2px solid darkgray;
}
.bell-icon {
  height: 50px;
  width: 50px;
}