// Message User Widget
// Create a field for searching for a user.
// You don't have to add real search functionality, but if you attempt to get the exceeds grade, you'll need to make up some user data.
// Add a message textarea field that lets you add a message.
// Create a “Send” button and use JS to allow you to submit the form and display a confirmation the message was sent. You won't actually submit the form, just simulate the action using JavaScript.
// Use JS to display error messages if user isn’t selected or message field is empty.
// Style to match the overall look and feel of the dashboard.

// Add an "autocomplete" 


.mess {
  display: grid;
  grid-area: mess;
}

.mess-title h4{
  text-align: center;
  font-size: 18px;
  grid-column: 2 / 3;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: grey;
  margin: 0;

}

.search input {
  height: 50px;
  width: 600px;
}
.info {
  display: grid;
  grid-area: info;
  justify-content: left;
}

.info input {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 400px;
  border: 1px solid lightgrey;
  margin: auto;
  border-radius: 5px;
}
 

.use-info button {
 
  height: 50px;
  width: 525px;
  background-color: #8685ad;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
}

textarea {
  // display: flex;
  // flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 200px;
  width: 524px;
  margin: auto;

}

