// Message User Widget
// Create a field for searching for a user.
// You don't have to add real search functionality, but if you attempt to get the exceeds grade, you'll need to make up some user data.
// Add a message textarea field that lets you add a message.
// Create a “Send” button and use JS to allow you to submit the form and display a confirmation the message was sent. You won't actually submit the form, just simulate the action using JavaScript.
// Use JS to display error messages if user isn’t selected or message field is empty.
// Style to match the overall look and feel of the dashboard.

// Add an "autocomplete" 
.submit-btn {
  display: flex;
  height:40px;
  width:300px;
  border-radius:4px;
  background-color: #8685ad;
  margin: auto;
}
// #message {
//   display:grid;
//   background-color: lightgray;
//   height:50px;
//   width:300px;
//   margin:0;
//   border-radius:4px;
//   border: 2px solid darkgray;
// }
.mess {
  grid-area: mess;
  border: 2px solid darkgray;
}

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 300px;
  margin: auto;
}