
// Message User Widget
// You don't have to add real search functionality, but if you attempt to get the exceeds grade, you'll need to make up some user data.
// Create a “Send” button and use JS to allow you to submit the form and display a confirmation the message was sent. You won't actually submit the form, just simulate the action using JavaScript.
// Use JS to display error messages if user isn’t selected or message field is empty.
// Style to match the overall look and feel of the dashboard.

// Add an "autocomplete" 


.mess {
  margin-left: 30px;
  display: grid;
  grid-area: mess;
}

.mess h4{

  font-size: 18px;
  grid-column: 1/2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: $grey;
  margin: 0;
  padding-top: 40px;

}


.info {
  display: grid;
  grid-area: info;
  justify-content: left;
}

#searchMess {
    margin-bottom: 20px;
    height: 75px;
    width: 98%;
    border: 1px solid lightgrey;;
    border-radius: 5px;
}
 #searchMess:hover {
 @extend %pointer;
 }
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;

}
.autocomplete-items div {
  font-size: 18px;
  padding: 10px;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  @extend %pointer;
}

.autocomplete-items div strong {
  font-size: 24px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $color-secondary; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.submit-btn  {
  margin-top: 6px;
  height: 50px;
  width: 98%;
  background-color: $color-primary;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: $white;
  font-size: 24px;
  text-align: center;
  &:hover {
    @extend %pointer;
}
}

#message {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 200px;
  width: 98%;
  &:hover {
  @extend %pointer;
}
}
#form{
  padding-right: 20px;
}

.invalid::placeholder {
  color: $color-error;
}
