 
// SVG icon based navigation with the following links: Dashboard, Members, Visits, and Settings. NOTE: You only have to build out the main dashboard page, not any of the other pages.

.container{
  display: grid;
  grid-template-columns: 120px repeat(4, 1fr);
  // grid-auto-rows:  auto;
  grid-template-areas:
  "main main main main main"
  "main-nav dash dash dash dash"
  "main-nav alert alert alert alert"
  "main-nav traffic-nav traffic-nav traffic-nav traffic-nav" 
  "main-nav bar bar donut donut" 
  "main-nav bar bar donut donut" 
  "main-nav line line line line"
  "main-nav stats stats stats ."
  "main-nav members members activity activity " 
  "main-nav mess mess set set";
}

.main-nav {
  display: grid;
  grid-area: main-nav;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  background-color: #a09ed1;
  border: 1px solid darkgray;

}

.dashboard, .set-icon, .visit-icon, .member-icon {
  max-width: 100%;
  height: 50px;
  width: 50px;
  margin: auto;
}


// @media (min-width:768px){
//   .main-nav {
//     grid-row-start: 1;
//     grid-row-end: 4;
//   }
// }

p {
  padding: 0;
  margin: 0;
}