 
// SVG icon based navigation with the following links: Dashboard, Members, Visits, and Settings. NOTE: You only have to build out the main dashboard page, not any of the other pages.

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(autofit, 1fr);
  grid-template-areas: 
  "main-nav main-nav"
  "dash dash"
  "bar bar"
  "donut donut"
  "line line"
  "main main"
  "traffic-nav traffic-nav"
  "stats stats"
  "activity members"
  "mess set";
}





.main-nav {
  grid-area: main-nav;
  background-color: darkmagenta;
  border: 2px solid darkgray;
  // grid-row-start: 1;
  // grid-row-end: -1;
}
// .st0 {
//   display:flex;
//   flex-direction: column;
//   height: 50px;
//   width: 50px;
//   color:darkorchid;
// }
.dashboard {
  display:flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}
.set-icon {
  display:flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  
}

.visit-icon {
  display:flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}

.member-icon {
  display:flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}

// @media (min-width:768px){
//   .nav {
//     grid-row-start: 1;
//     grid-row-end: 4;
//   }
// }