 
// SVG icon based navigation with the following links: Dashboard, Members, Visits, and Settings. NOTE: You only have to build out the main dashboard page, not any of the other pages.

.container{
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr);
  grid-auto-rows:  auto;
  grid-template-areas:
  "main-nav main main"
  "main-nav dash dash"
  "main-nav bar bar" 
  "main-nav donut donut" 
  "main-nav line line"
  "main-nav traffic-nav traffic-nav" 
  "main-nav stats stats"
  "main-nav members activity" 
  "main-nav mess set" ;
}

.main-nav {
  display: grid;
  grid-area: main-nav;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  background-color: #a09ed1;
  border: 2px solid darkgray;

}

.dashboard {
  max-width: 100%;
  height: 50px;
  width: 50px;
}
.set-icon {
  max-width: 100%;
  height: 50px;
  width: 50px;
}

.visit-icon {
  max-width: 100%;
  height: 50px;
  width: 50px;
}

.member-icon {
  max-width: 100%;
  height: 50px;
  width: 50px;
}

// @media (min-width:768px){
//   .main-nav {
//     grid-row-start: 1;
//     grid-row-end: 4;
//   }
// }