 img {
  max-width: 100%;
  width:50px;
  height:50px;
  border-radius: 50%;
}

#member-activity{
  display:grid;
  padding:1em;
  margin:1em;
  background-color: lavender;
  border:2px darkgrey solid;
}
 .container {
  border-bottom: 2px grey solid;
}

#member-activity ul {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
// #member-activity li{
//   width:50%;
// }
.grid,
#member-activity {
  grid-column: 2;
}
.grid {
  display:grid;
  padding:1em;
  margin:1em;


}
.mess{
  background-color: lightpink;
}

