
//Uses JS to display error messages if both or either the user or message field is empty.

img {
  display: block;
  max-width: 100%;
  width:50px;
  height:50px;
  border-radius: $br-round;
}

.members{
  display: grid;
  grid-area: members;
  justify-items: center;
  text-align: center;
  border: 1px solid grey;
  font-size: 20px;
  padding: 40px;
  grid-gap: 6px;
}

@media(min-width:768px){
  .members{
    justify-items:left;
    text-align: left;
  }
}