 img {
  max-width: 100%;
  width:50px;
  height:50px;
  border-radius: 50%;
}

.members {
  grid-area: members;
  background-color: lavender;
  border:2px darkgrey solid;
}

.members ul {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.mess{
  background-color: lightpink;
}

