// New Members and Recent Activity Widgets
// Create widgets that lists users for both widgets.
// Include avatars for each member (You can search for a “random user generator” like https://randomuser.me/photos or find some some pictures elsewhere).
// Add the information for each user as shown in the mockup, such as Member name, email address, Sign up Date etc.
.activity {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-auto-rows: minmax(80px, auto);
  grid-area: activity;
  border: 1px solid grey;
  justify-self: left;
  align-self: left;
  padding-left: 25px;
  padding:10px;
  font-size: 20px;
}

.activity-title {
  display: grid;
}

