// Settings Widget
// Create a settings widget to display various setting options using different form elements.
// Create an on/off widget for whether to send email notifications.
// Create an on/off widget for whether to set profile to public or private.
// Create a dropdown to select timezone.
// Add Save and Cancel buttons (these do not have to do anything functional).
// Style to match the overall look and feel of the dashboard.

.set {
  display:grid;
  margin: 1em;
  background-color: khaki;
  border: 2px solid darkgray;
}
.save-btn {
height: 20px;
width:200px;
border-radius:4px;
background-color: plum;

}

.cancel-btn {
  height: 20px;
  width:200px;
  border-radius:4px;
  background-color: lightgrey;
}