// Settings Widget
// Create a settings widget to display various setting options using different form elements.
// Create an on/off widget for whether to send email notifications.
// Create an on/off widget for whether to set profile to public or private.
// Style to match the overall look and feel of the dashboard.

.set {
  display: grid;
  grid-area: set;
  border: 2px solid darkgray;
}

.set-title h4{
display: grid;
grid-column: 1/ 5;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
color: $grey;
padding: 20px;
margin: 0;
}

// Add Save and Cancel buttons (these do not have to do anything functional)
.save-btn,
.cancel-btn {
  height: 50px;
  width: 48%;
  border-radius: 5px;
  font-size: 24px;
  color:$white;
}
.save-btn{
  background-color: $color-primary;
}
.cancel-btn {
  background-color: darkgrey;
} 

.save-btn:hover,
.cancel-btn:hover{
  cursor: pointer;
}
// Create a dropdown to select timezone.
#timeZone {
  border: $border;
  height: 60px;
  width: 100%;
}

#timeZone:hover{
  @extend %pointer;
}
.switch-container span {
  // height: 50px;
  // width: 50px;
  font-size: 26px;
  color: $grey;
}




li.public,
li.notify{
  display:inline-flex;
  width: 100%;
  height: 80px;
}


.public p,
.notify p {
  font-size: 18px;
  width: 200px;
}
.submits {
  margin-top: 70px;
  margin-left: 20px;
}
.switch-light.switch-material a {
  background-color: rgb(221, 194, 73);

}

.switch-light.switch-material a:hover {
  @extend %pointer;
}

.switch-material.switch-light > span {
  background: #a2a2d0;
}
.switch-material.switch-light > span:hover{
  @extend %pointer;
}
.switch-material.switch-light input:checked ~ span a {
  background:rgb(134, 216, 134);
}
.switch-material.switch-light input:checked ~ span a:hover {
  @extend %pointer;
}