// Settings Widget
// Create a settings widget to display various setting options using different form elements.
// Create an on/off widget for whether to send email notifications.
// Create an on/off widget for whether to set profile to public or private.
// Create a dropdown to select timezone.
// Add Save and Cancel buttons (these do not have to do anything functional).
// Style to match the overall look and feel of the dashboard.

.set {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-area: set;
  border: 2px solid darkgray;
  justify-items: left;
}

.set-title h4{
display: grid;
grid-column: 1/ 5;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
color: grey;
padding: 20px;
margin: 0;
}

.save-btn {
  height: 50px;
  width: 275px;
  border-radius:5px;
  background-color: #8685ad;
  margin-top: auto;
  color: white;
  font-size: 20px;

}

.cancel-btn {
  height: 50px;
  width: 275px;
  border-radius:5px;
  background-color: darkgrey;
   margin-top: auto;
   color: white;
   font-size: 20px;

} 


#timeZone {
  height: 60px;
  width: 550px;
}