// Social Stats Widget
// Create a widget (or three separate widgets) to display social network stats for Facebook, Twitter and Google+.
// Use the provided SVG icons for each of the social networks.
// Style the social information to match the corresponding social network.
// Style to match the overall look and feel of the dashboard.
#stat-wrapper {
  display: grid;
  grid-column: 2/6;
  grid-row: 8;
  margin: 3em;
}



.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: span 3;
  grid-area: stats;
 grid-gap: 25px;
} 

.twit, .face, .goog {
  display:grid;
  border: 2px darkgrey solid;
  padding: 40px;
}


.social-icon {
  height: 90px;
  width: 90px;
  background-color: #8685ad;
  fill: white;
  border-radius: 50%;
  margin: auto;
}

.stat-content {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}
.stat-content p {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color:#8685ad ;
}
 
.twit-icon {
  max-width: 100%;
  height: 80px;
  width: 80px;
  padding-top: 20px;
  padding-left: 15px;
  margin: auto;
}
.face-icon {
  max-width: 100%;
  height: 80px;
  width: 80px;
  padding-top: 10px;
  padding-left: 10px;
}

.goog-icon {
  max-width: 100%;
  height: 75px;
  width: 75px;
  padding-top: 20px;
  padding-left: 15px;
}

  #stat-wrapper h4 {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   color: grey;
   padding-bottom: 25px;
   grid-column: max-content;
 }
 strong {
   color: grey;
   font-size: 60px;
    font-weight: 100;
 }