// Social Stats Widget
// Create a widget (or three separate widgets) to display social network stats for Facebook, Twitter and Google+.
// Use the provided SVG icons for each of the social networks.
// Style the social information to match the corresponding social network.
// Style to match the overall look and feel of the dashboard.
#stat-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  grid-column: 2 / 4;
  grid-row: 8;
  margin: 3em;
}



.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-area: stats;
 justify-content: space-between;
 grid-gap: 25px;
} 

.twit {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  border: 2px darkgrey solid;
 
}

.face {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  border: 2px grey solid;
  
}

.goog {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  border:2px grey solid;
  
}

.social-icon {
  height: 90px;
  width: 90px;
  background-color: #8685ad;
  fill: white;
  border-radius: 50%;
  margin: auto;
}

.stat-content {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  font-size: 24px;
  justify-items: center;
  padding-top: 50px;
  
}


.twit-icon {
  max-width: 100%;
  height: 80px;
  width: 80px;
  padding-top: 20px;
  padding-left: 15px;
  margin: auto;
}
.face-icon {
  max-width: 100%;
  height: 80px;
  width: 80px;
  padding-top: 10px;
  padding-left: 10px;
}

.goog-icon {
  max-width: 100%;
  height: 75px;
  width: 75px;
  padding-top: 20px;
  padding-left: 15px;
}

span {
  font-size: 42px;
  color: darkgrey;
}
