// Social Stats Widget
// Create a widget (or three separate widgets) to display social network stats for Facebook, Twitter and Google+.
// Use the provided SVG icons for each of the social networks.
// Style the social information to match the corresponding social network.
// Style to match the overall look and feel of the dashboard.
.stats{
  display: grid;
  background-color: gainsboro;
  border: 2px solid darkgray;
  grid-area: stats;
}
.twit{
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 150px;
  width:300px;
  background-color: lightgrey;
  border:2px darkgrey solid;

}

.face{
  display: flex;
  flex-direction: row;
  text-align: center;
  height:150px;
  width:300px;
  background-color:lightgrey;
  border:2px darkgrey solid;
  
}
.goog{
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 150px;
  width:300px;
  background-color: lightgrey;
  border:2px darkgrey solid;
 
}

.social-icon {
  background-color: cornflowerblue;
  border-radius: 50%;
  height:75px;
  width:75px;
  text-align: center;
 

 
}

.stat-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  
}