// Traffic chart widget
// Create a navigation similar to the one in the mockup to display different data when the Hourly, Daily, Weekly and Monthly button is selected. Add functionality to the Hourly, Daily, Weekly and Monthly buttons so that a different line chart is displayed on click.
.traffic-nav {
  display: grid;
  grid-area: traffic-nav;
  border:$border;
}


.traffic {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: right;
  border-radius: 5px;
}
  
.traffic li {
  display: grid;
  // justify-self: center;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 30px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
  color: rgb(87, 85, 85);
}

.traffic li:hover, .traffic li.active  {
  background-color: $lightgreen;
  color: white;
  border-radius: 30px;
  @extend %pointer;
}

.traffic-chart {
 
  max-width: 100%;
}

// @media(min-width:768px){
// .traffic li {
//   display: grid;
//   grid-template-columns: repeat(4, 100px);
//   grid-auto-rows: 30px;
//   font-size: 22px;
//   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//   text-align: center;
//   padding-top: 10px;
//   color: rgb(87, 85, 85);
// }

// }