// Traffic chart widget
// Create a navigation similar to the one in the mockup to display different data when the Hourly, Daily, Weekly and Monthly button is selected. Add functionality to the Hourly, Daily, Weekly and Monthly buttons so that a different line chart is displayed on click.
.traffic-nav {
  grid-area: traffic-nav;
}


.traffic{
  display: flex;
  flex-direction: row;
  background-color: #8685ad;
  border: 2px solid darkgray;
}
.update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
}

.update li  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
  .update a {
  display: flex;
  height: 50px;
  width: 150px;
  background-color: darkgrey;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  padding-top:15px;
}
a:hover{
  background-color: lavender;
}
a:hover{
  background-color: lavender;
}
a:hover{
  background-color: lavender;
}
a:hover{
  background-color: lavender;
}
a:hover {
  background-color: lavender;
}
// .traffic h4 {

// }